body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  width: 350px;
  margin: 100px auto;
  padding: 25px;
  background: #1e293b;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 6px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

.google {
  background: #ef4444;
}

.divider {
  margin: 10px 0;
  color: #94a3b8;
}